.window {
  width: 700px;
  height: 500px;

  background-color: #151515;
  border-radius: 0.75rem;
  overflow: hidden;

  color: rgb(168, 168, 168);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;

  .nav {
    padding-block: 0.5rem;
    padding-inline: 0.75rem;

    display: flex;
    gap: 1.5rem;
    align-items: center;

    border-bottom: 1px solid rgba(245, 245, 245, 0.233);

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      .red {
        background-color: #ee302a;
      }

      .yellow {
        background-color: #ffcb49;
      }

      .green {
        background-color: #2ce24a;
      }
    }
  }
}
