.dock {
  display: flex;
  gap: 0.75rem;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;

  background-color: rgba(78, 78, 78, 0.452);
  backdrop-filter: blur(5px);

  .icon {
    width: 3.75rem;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.65rem;
    border-radius: 0.25rem;

    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    cursor: pointer;
  }

  .github,
  .cli {
    background-color: black;
  }

  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }
  .pdf {
    background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
  }
  .calender,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }
  .spotify {
    background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 42, 12));
  }
  .link {
    background: linear-gradient(
      to bottom,
      rgb(163, 97, 170),
      rgb(142, 33, 170)
    );
  }
  .icon:hover {
    transform: scale(1.25) translateY(-20%);
  }
  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: translateY(-10%);
  }
}
