nav {
  width: 100%;

  color: white;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  background-color: #e9e9e91b;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .left,.right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
